@font-face {
	font-family: 'Rubik-Variable';
	src: url('fonts/Rubik-VariableFont_wght.eot');
	src: local('☺'), url('fonts/Rubik-VariableFont_wght.woff') format('woff'), url('fonts/Rubik-VariableFont_wght.ttf') format('truetype'), url('fonts/Rubik-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Italic';
	src: url('fonts/Rubik-Italic-VariableFont_wght.eot');
	src: local('☺'), url('fonts/Rubik-Italic-VariableFont_wght.woff') format('woff'), url('fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype'), url('fonts/Rubik-Italic-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Martel';
	src: url('fonts/Martel-Regular.eot');
	src: local('☺'), url('fonts/Martel-Regular.woff') format('woff'), url('fonts/Martel-Regular.ttf') format('truetype'), url('fonts/Martel-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Martel';
	src: url('fonts/Martel-Bold.eot');
	src: local('☺'), url('fonts/Martel-Bold.woff') format('woff'), url('fonts/Martel-Bold.ttf') format('truetype'), url('fonts/Martel-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
   min-width: 724px;
   max-width: 1054px;
   margin:0px auto;
}

.header {
   width: 1024px;
   height: 126px;
}


.logo{
   display:inline-block;
   padding: 53px 0 0 57px;
   width: 168px;
   height: 21px;
   color: #0e1d2b;
   font-family: "Martel";
   font-size: 26px;
   line-height: 17.39px;
   text-align: left;
   text-transform: uppercase;
   /* Text style for "B, URGERS" */
   font-family: "Martel";
   letter-spacing: -1.02px;
}

.logo a{
   color:black;
}

.logo2{
   display: inline-block;
   padding: 53px 0 0 5px;
   width: 168px;
   height: 21px;
   color: #0e1d2b;
   font-family: "Martel";
   font-size: 26px;
   line-height: 17.39px;
   text-align: left;
   text-transform: uppercase;
   color: #ffa326;
   font-family: "Martel";
   font-weight: bold;
   letter-spacing: -1.02px;
   margin-right: 70px;
}

.menubar{
   display: inline-block;
   text-shadow: 0 0.3px 0.3px #000;
}

ul{
   float: right;
   font-family: "Martel";
   font-weight: normal;
   letter-spacing: -0.15px;
}

ul li{
   float: left;
   padding-left: 35px;
   color: black;
   text-decoration: none;
}

ul li a{
   color:black;
}

ul li:first-child{
   font-family: "Martel";
   font-weight: bold; 
   text-decoration: none;
}

.site-content {
   width: 1026px;
   
}

.imgblock{
   max-height: 396px;
   position: relative;
}

.text1{
   position: absolute;
   z-index: 2;
   padding: 100px 0 0 58px;
   width: 370px;
   height: 120px;
   color: #ffa326;
   font-family: "Rubik";
   font-size: 65px;
   font-weight: 500;
   line-height: 60px;
   text-align: left;  
}

.text2{
   position: absolute;
   z-index: 2;
   padding: 245px 0 0 61px;
   width: 400px;
   height: 36px;
   color: #ffffff;
   font-family: "Martel";
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: 20px;
   text-align: left;
}

.text3{
   position: absolute;
   z-index: 2;
   float: right;
   padding: 100px 0 0 586px;
   width: 294px;
   height: 47px;
   color: #ffffff;
   font-family: "Rubik";
   font-size: 65px;
   font-weight: 500;
   line-height: 60px;
   text-align: left;

}

.text4{
   position: absolute;
   z-index: 2;
   padding: 175px 0 0 591px;
   width: 90%;
   height: 32px;
   color: #0d1e2d;
   font-family: "Martel";
   font-size: 14px;
   line-height: 20px;
   text-align: left;
   text-shadow: 0 0.3px 0.3px #000;
}

.text5{
   position: absolute;
   z-index: 2;
   padding: 250px 0 0 594px;
   text-shadow: 1px 0 0.3px #000;
   width: 70%;
   height: 18px;
   color: #0d1e2d;
   font-family: "Martel";
   font-size: 14px;
   font-weight: bold;
   line-height: 18px;
   text-align: left;
   letter-spacing: 0.2px;
}

.button{
   position: absolute;
   z-index: 2;
   margin: 237px 0 0 218px;
   width: 157px;
   height: 37px;
   background-color: #fff;
   border-radius: 2px;
   color: #0d1e2d;
   font-family: "Martel";
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   padding: 11px 0 0 18px;
   text-shadow: 0.3px 0 0.3px #000;
   box-shadow: 1px 3px 3px #d6640b;
   
}

.button:hover{
   background-color: rgba(255, 255, 255, 0.644);
}


.button span{
   padding: 0 42px 0 0;
   background: url("../img/icons/burger_icon.png") right no-repeat;
}


.imgleft{
   display: inline-block;
   float: left;
   width: 512px;
   height: 394px;
   background: url('../img/Layer_111.jpg') left no-repeat;
   opacity: 1;
}

.imgright{
   display: inline-block;
   float: right;
   width: 514px;
   height: 394px;
   background: url("../img/Layer_222.jpg") left no-repeat;
   opacity: 1;
   
}

.rectangleleft {
   display: block;
   float: left;
   width: 512px;
   height: 394px;
   background-color: #011627;
   opacity: 0.9;
   position: absolute;
}
.rectangleright {
   display: inline-block;
   float: left;
   width: 514px;
   height: 394px;
   background-color: #ff9f1c;
   opacity: 0.9;
   position: absolute;
}

.burgers {
   width: 1024px;
   height: 2470px;
}
.bondy {
   display: inline-block;
   width: 171px;
   height: 173px;
   background: url("../img/bondy.jpg") 0 14px no-repeat;
   margin: 55px 0 0 132px;
}

.beef-bondy{
   width: 132px;
   height: 22px;
   margin: 200px 0 0 20px;
   color: #f39c22;
   font-family: "Rubik";
   font-size: 23px;
   font-weight: bold;
   line-height: 15.66px;
   text-align: left;
}

.beef-note{
   width: 146px;
   height: 28px;
   margin: 10px 0 0 10px;
   color: #0b1d2c;
   font-family: "Martel";
   font-size: 12px;
   font-weight: 400;
   line-height: 15.66px;
   text-align: center;
   text-shadow: 0.3px 0 0.3px #000;
}

.cen-bondy{
   width: 162px;
   height: 29px;
   margin-top: 14px;
   background-color: #e1e1e1;
}

.clr-bondy{
   /* Style for "345KJ" */
   display: inline-block;
   color: #485058;
   font-family: "Martel";
   font-size: 12px;
   line-height: 15.66px;
   text-align: right;
   text-transform: uppercase;
   padding: 4px 12px 0 12px;

}

.cen-bondy span{
   
      /* Style for "$, 12.5" */
      display: inline-block;
      width: 51px;
      height: 19px;
      color: #0b1d2c;
      font-family: "Rubik";
      font-size: 20px;
      font-weight: bold;
      line-height: 15.66px;
      text-align: right;
      padding: 7px 0 0 10px;   
   }

.chicken {
   display: inline-block;
   width: 172px;
   height: 175px;
   background: url("../img/chiken.jpg") -2px 15px no-repeat;
   margin: 62px 0 0 115px;
}

.chicken-mota{
   width: 155px;
   height: 22px;
   margin: 197px 0 0 5px;
   color: #f39c22;
   font-family: "Rubik";
   font-size: 23px;
   font-weight: bold;
   line-height: 15.66px;
   text-align: left;
}

.chicken-note{
   width: 146px;
   height: 28px;
   margin: 10px 0 0 10px;
   color: #0b1d2c;
   font-family: "Martel";
   font-size: 12px;
   font-weight: 400;
   line-height: 15.66px;
   text-align: center;
   text-shadow: 0.3px 0 0.3px #000;
}

.cen-chicken{
   width: 162px;
   height: 29px;
   margin-top: 14px;
   background-color: #e1e1e1;
}

.clr-chicken{
   /* Style for "345KJ" */
   display: inline-block;
   color: #485058;
   font-family: "Martel";
   font-size: 12px;
   line-height: 15.66px;
   text-align: right;
   text-transform: uppercase;
   padding: 4px 12px 0 15px;

}

.cen-chicken span{
   
      /* Style for "$, 12.5" */
      display: inline-block;
      width: 51px;
      height: 19px;
      color: #0b1d2c;
      font-family: "Rubik";
      font-size: 20px;
      font-weight: bold;
      line-height: 15.66px;
      text-align: right;
      padding: 7px 0 0 10px;   
   }

.double {
   display:inline-block;
   width: 178px;
   height: 166px;
   background: url("../img/double.jpg") -7px 30px no-repeat;
   margin: 58px 0 0 95px;
   
}

.double-beef{
   width: 155px;
   height: 22px;
   margin: 197px 0 0 20px;
   color: #f39c22;
   font-family: "Rubik";
   font-size: 23px;
   font-weight: bold;
   line-height: 15.66px;
   text-align: left;
}

.double-note{
   width: 146px;
   height: 28px;
   margin: 10px 0 0 10px;
   color: #0b1d2c;
   font-family: "Martel";
   font-size: 12px;
   font-weight: 400;
   line-height: 15.66px;
   text-align: center;
   text-shadow: 0.3px 0 0.3px #000;
}

.cen-double{
   width: 162px;
   height: 29px;
   margin-top: 14px;
   background-color: #e1e1e1;
}

.clr-double{
   /* Style for "345KJ" */
   display: inline-block;
   color: #485058;
   font-family: "Martel";
   font-size: 12px;
   line-height: 15.66px;
   text-align: right;
   text-transform: uppercase;
   padding: 4px 12px 0 15px;

}

.cen-double span{
   
      /* Style for "$, 12.5" */
      display: inline-block;
      width: 51px;
      height: 19px;
      color: #0b1d2c;
      font-family: "Rubik";
      font-size: 20px;
      font-weight: bold;
      line-height: 15.66px;
      text-align: right;
      padding: 7px 0 0 10px;   
   }

.menu {

   width: 1024px;
   height: 404px;
   background: url("../img/layer_7_need.jpg");
   position:absolute;
   top: 985px;

}

.text6{
   /* Style for "Wait ! But" */
   width: 563px;
   height: 104px;
   color: #ffffff;
   font-family: Rubik;
   font-size: 60px;
   font-weight: 500;
   line-height: 60px;
   text-align: left;
   padding: 146px 0 0 128px;
}

.acc{
   /* Style for "French Fri" */
   width: 452px;
   height: 139px;
   
}

.acc li{
   color: #ffffff;
   font-family: "Martel";
   font-size: 16px;
   line-height: 30px;
   text-align: left;
   float:left;
   margin-right: 150px;
}


.photos { 
   display: inline-block;
      /* Style for "Photos" */
   width: 300px;
   height: 60px;
   color: #0d1624;
   font-family: "Rubik";
   font-size: 60px;
   font-weight: 500;
   line-height: 60px;
   margin: 180px 0 0 388px;
}

.text7{
   /* Style for "Beautiful" */
   width: 270px;
   height: 13px;
   color: #0b1d2c;
   font-family: "Martel";
   font-size: 12px;
   line-height: 15.66px;
   text-align: center;
   padding-top: 4px;
   margin-left: -28px;
   text-shadow: 0.2px 0 0.2px #000;
}

.contact {
   width: 1026px;
   height: 470px;
   margin-top: -60.5%;
}

h1{
   /* Style for "Contact Us" */
   width: 325px;
   color: #0d1624;
   font-family: "Rubik";
   font-size: 60px;
   font-weight: 500;
   line-height: 60px;
   margin-left: 350px;
}

.text8{
   /* Style for "Beautiful" */
width: 258px;
height: 13px;
color: #0b1d2c;
font-family: "Martel";
font-size: 12px;
line-height: 15.66px;
text-align: center;
padding-top: 4px;
margin-left: 375px;
text-shadow: 0.2px 0 0.2px #000;
}

.forma{
   width: 1026px;
   height: 367px;
   background-color: #0d1e2d;
   margin-top: 28px;
   
}

h2{
   /* Style for "Fill this" */
width: 355px;
height: 13px;
color: #ffffff;
font-family: "Martel";
font-size: 12px;
line-height: 15.66px;
text-align: center;
padding: 51px 0 0 135px;

}

.username {
   /* Style for "Rectangle" */
   width: 255px;
   height: 30px;
   box-shadow: 3px 5px 42px 1px rgba(29, 59, 86, 0.75);
   background-color: #ffffff;
   margin: 33px 0 0 135px;
   
}

.username:focus{
   box-shadow: 3px 5px 5px 2px rgba(1, 9, 17, 0.75), inset 0.5px 0.5px 0.5px 0.5px #000;
}

input {
   font-size: 16px;
   padding-left: 3px;
}

.address{
   /* Style for "Rectangle" */
   width: 255px;
   height: 30px;
   box-shadow: 3px 5px 42px 1px rgba(29, 59, 86, 0.75);
   background-color: #ffffff;
   margin: 6px 636px 0 135px;
}

.address:focus{
   box-shadow: 3px 5px 5px 2px rgba(1, 9, 17, 0.75), inset 0.5px 0.5px 0.5px 0.5px #000;
}

.tel {
   /* Style for "Rectangle" */
   width: 255px;
   height: 30px;
   box-shadow: 3px 5px 42px 1px rgba(29, 59, 86, 0.75);
   background-color: #ffffff;
   margin: 6px 0 0 135px;
}

.tel:focus{
   box-shadow: 3px 5px 5px 2px rgba(1, 9, 17, 0.75), inset 0.5px 0.5px 0.5px 0.5px #000;
}

textarea{
   /* Style for "Rectangle" */
   width: 255px;
   height: 89px;
   box-shadow: 3px 5px 42px 1px rgba(29, 59, 86, 0.75);
   background-color: #ffffff;
   margin: 6px 636px 0 135px;
   font-size: 16px;
   padding-left: 3px;
}

textarea:focus{
   box-shadow: 3px 5px 5px 2px rgba(1, 9, 17, 0.75), inset 0.5px 0.5px 0.5px 0.5px #000;
}

.map{
   /* Style for "Layer 9" */
   width: 314px;
   height: 172px;
   float:right;
   margin: -235px 171px 0 0;
   
}

.send{
   /* Style for "Rectangle" */
   width: 255px;
   height: 30px;
   box-shadow: 3px 5px 42px 1px rgba(29, 59, 86, 0.75); 
   background-color: #ffa326;
   margin:10px 0 0 135px;
      /* Style for "Submit Now" */
   color: #ffffff;
   font-family: "Martel";
   font-size: 16px;
   font-weight: bold;
   line-height: 30px;
   text-align: center;
   text-shadow: 2px 2px 2px #000;
   -webkit-box-shadow: 0 2px 1px #000;
   box-shadow: 0 2px 2px #d6640b;
}

.send:hover{
   background-color: rgb(196, 80, 3);
}

.send:active{
   position: relative;
   top:2px;
   -webkit-box-shadow: 0 2px 1px #000;
   box-shadow: 0 1px 1px #d6640b;
}

.forma p{
   margin: -8% 0 0 533px;
   /* Style for "272 Collin" */
   width: 329px;
   height: 21px;
   color: #ffffff;
   font-family: "Martel";
   font-size: 19px;
   line-height: 18.13px;
   text-align: center;
}



.call{
   display: inline-block;
   float: right;
   /* Style for "Call  |" */
   width: 49px;
   height: 19px;
   color: #ffffff;
   font-family: "Martel";
   font-size: 19px;
   line-height: 18.13px;
   text-align: center;
   padding: 13px 23px 0 0 ;
   margin-right: 434px;
}

.numbertel{
   display: inline-block;
   float: right;
   /* Style for "09005896" */
   width: 239px;
   height: 46px;
   color: #ffa326;
   font-family: "Martel";
   font-size: 47px;
   font-weight: bold;
   line-height: 45.85px;
   text-align: center;
   padding: 0 12px 0 0;
   margin: -30px 172px 46px 615px;
} 

.footer{
   /* Style for "Rectangle" */
   width: 1026px;
   height: 45px;
   background-color: #050b10;
   /* Style for "www.sellfy" */
   color: #ffa326;
   font-family: "Martel";
   font-size: 12px;
   line-height: 27.85px;
   text-align: left;
   padding: 0 0 0 135px;
}

.footer p{
   color: #ffa326;
   font-family: "Martel";
   font-size: 12px;
   line-height: 27.85px;
   text-align: right;
   margin: -55px 173px 0 0 ;
}